@use"../abstract/variables" as *;
.btn{
    &,
    &:link,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2rem;
        padding: 1.3rem 4rem;
        border: none;
        background: linear-gradient(to right, white 50%, black 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        color: $color-text;
        font-weight: 700;
        letter-spacing: 1px;
        transition: 0.3s;
        border: none $color-secondary;

        &:hover{

            background-position: left bottom;
            color: black;
        }
        @include respond (large){
        font-size: 2.5rem;
        }
        @include respond(xlarge){
            font-size: 3rem;
        }

     
    }

      &-play{
        display: none;
        font-size: 6rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        background-color: rgba(white, 60%);
        backdrop-filter: blur(2px);
        padding: 1.3rem 4rem;
        clip-path: polygon(10% 10%, 90% 10%, 95% 50%, 90% 90%, 10% 90%, 5% 50%);
        margin: 2rem 0;
        transition: 0.3s;


         @include respond (medium){
        font-size: 5rem;
        }

        @include respond (small){
        font-size: 3.5rem;
        }

       


        &:hover{
            transform: scale(1.1);
        }
    } 
}